#picardia {
    float: right;
    transform: translate(-100px, -430px);

    }
html, body {
    cursor: url("./cat.png"), default;
}
body {
    background-color: rgb(25, 255, 159);
    text-align: center;
}
h1 {
    font-family: droid-serif;
    font-size: 64px;
}
@font-face {
    font-family: droid-serif;
    src: url("./droid-serif.regular.ttf");
}
@font-face {
    font-family: similartoyzy;
    src: url("./TSTAR-W00-Heavy.ttf");
}
.bottombar {
    background-color: black;
    color: white;
    font-family: similartoyzy;
    overflow: hidden;
    position:static;
    bottom: 0;
    width: 100%;
}

.sitemakingprocessimage {
    background-image: url("./cat2.png");
    background-repeat: repeat;
    width: 500px;
    height: 500px;
    background-color: black;
    animation: move 3s infinite;
    animation-timing-function: linear;
}

@keyframes move {
    0% {
        background-position-x: 0px;
        background-position-y: 0px;
    }
    100% {
        background-position-x: 238px;
        background-position-y: 313px;
    }
}