html {
    cursor: url(/home/thinkpad/Documents/codingnshit/duckyssite/cat.png), auto;
  }
body {
    background-color: greenyellow;
    text-align: center;
}
html, body {
  width:100%;
  height:100%;
}