html {
    cursor: url("./cat.png"), auto;
  }
body {
    background-color: greenyellow;
    text-align: center;
}
html, body {
  width:100%;
  height:100%;
}
.sitemakingprocessimage {    #credit for this goes to dtpls
    background-image: url("./cat2.png");
    background-repeat: repeat;
    width: 500px;
    height: 500px;
    background-color: black;
    animation: move 3s infinite;
    animation-timing-function: linear;
    text-align: center;
}

@keyframes move {   #credit for this goes to dtpls
    0% {
        background-position-x: 0px;
        background-position-y: 0px;
    }
    100% {
        background-position-x: 238px;
        background-position-y: 313px;
    }
}